body{
  background-color: #f27250;
  color: white;
  font-family: 'Josefin Slab';
}

.settings{
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;

}

.settings p,span{
  text-align: center;
  font-size: 25px;
}

.settings button{
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
}

.settings button:hover{
  color: #ffca99;
}

.clock{
  border-radius: 50%;
  border: solid 2px #ffca99;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clock p{
  font-size: 30px;
  margin-top: 50px;
}

.break-text{
  margin-top: 10px !important;
  visibility: hidden;
  font-size: 25px;
}

.newton-cradle{
  width: 110px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}

.controls button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: 1px solid #ffca99;
  outline: none;
  background: none;
  border-radius: 5px;
}

.controls button:hover{
  background-color: #ffca99;
}

.text-center {
  text-align: center;
}
.controls text-center{
  text-align: center;
}
button {
  color: white;
  background: transparent;
  border-radius: 5px;
  border: transparent;
}

select {
  color: white;
  background: transparent;
  border: 1px solid #ffca99;
  border-radius: 5px;
  cursor: pointer; 
}

select:hover{
  color: #ffca99;
}
.cord{
  padding-top:100px;
  width:15px;
  transform: rotate(0deg);
  transform-origin:50% 50%;
  float:left;
}


.ball{
  background:#ffca99;
  width:15px;
  height:15px;
  float:left;
  border-radius:50%;
}

.leftMove{
  animation: leftBall .5s ease-in-out 0s infinite alternate;
}
.rightMove{
  animation: rightBall .5s ease-in-out 0s infinite alternate;
}

.audio-player-container {
  width: 100%; /* Take full width of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align to bottom */
  padding: 20px 0; /* Padding at the bottom */
}

.audio-player {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: solid 2px #ffca99;
  text-align: center;
}

.audio-player .track {
  margin-bottom: 20px;
}




@keyframes leftBall
{
0% {
  transform: rotate(0deg) translateY(0px);
  }
/*this pauses the ball at the begining*/
50% {
  transform: rotate(0deg) translateY(0px);
  }
100% {
  transform: rotate(50deg) translateY(-20px);
  }

}

@keyframes rightBall
{
0% {
  transform: rotate(-50deg) translateY(-20px);
  }
/*this pauses the ball at the begining*/
50% {
  transform: rotate(0deg) translateY(0px);
  }
100% {
  transform: rotate(0deg) translateY(0px)
      translateX(0px);
  }

}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid  #ffca99 ;
  background: #ffca99;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1rem;
  background:  #ffca99;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
/*slider-thumb border color*/
  border: 1px solid hsl(335, 100%, 65%);
/*Colors*/
  box-shadow: -50rem 0 5rem 20rem hsl(6, 97%, 71%),
              -40rem 0 5rem 30rem hsl(25, 66%, 66%),
              -30rem 0 2rem 25rem hsl(23, 84%, 54%),
              -25.5rem 0 0 25rem  hsl(12, 89%, 51%);
}