body{
  background-color:transparent; 
  background-image: url('../img/bg.jpg');
  color: white;
  font-family: 'Josefin Slab', "Noto Sans SC",serif;
  display: flex;
  padding: 0 20px;
  margin: 0;
}


.todo-list {
  flex: 1;
  padding: 20px;
  background-color:transparent; 
  margin-left: -20%;
}

.fluid-container {
  flex: 2;
  padding: 20px;
  background-color:transparent; 
  margin-left: -20%;
}

.settings{
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;

}

.settings p,span{
  text-align: center;
  font-size: 25px;
}

.settings button{
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
}

.settings button:hover{
  color: #ffca99;
}

.clock{
  border-radius: 50%;
  border: solid 2px #ffca99;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clock p{
  font-size: 30px;
  margin-top: 50px;
}

.break-text{
  margin-top: 10px !important;
  visibility: hidden;
  font-size: 25px;
}

.newton-cradle{
  width: 110px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}

.controls button{
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: 1px solid #ffca99;
  outline: none;
  background: none;
  border-radius: 5px;
}

.controls button:hover{
  background-color: #ffca99;
}

.text-center {
  text-align: center;
}
.controls text-center{
  text-align: center;
}
button {
  color: white;
  background: transparent;
  border-radius: 5px;
  border: transparent;
}

select {
  color: white;
  background: transparent;
  border: 1px solid #ffca99;
  border-radius: 5px;
  cursor: pointer; 
}

select:hover{
  color: #ffca99;
}
.cord{
  padding-top:100px;
  width:15px;
  transform: rotate(0deg);
  transform-origin:50% 50%;
  float:left;
}


.ball{
  background:#ffca99;
  width:15px;
  height:15px;
  float:left;
  border-radius:50%;
}

.leftMove{
  animation: leftBall .5s ease-in-out 0s infinite alternate;
}
.rightMove{
  animation: rightBall .5s ease-in-out 0s infinite alternate;
}

.audio-player-container {
  width: 100%; /* Take full width of the viewport */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align to bottom */
  padding: 20px 0; /* Padding at the bottom */
}

.audio-player {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: solid 2px #ffca99;
  text-align: center;
}

.audio-player .track {
  margin-bottom: 20px;
}




@keyframes leftBall
{
0% {
  transform: rotate(0deg) translateY(0px);
  }
/*this pauses the ball at the begining*/
50% {
  transform: rotate(0deg) translateY(0px);
  }
100% {
  transform: rotate(50deg) translateY(-20px);
  }

}

@keyframes rightBall
{
0% {
  transform: rotate(-50deg) translateY(-20px);
  }
/*this pauses the ball at the begining*/
50% {
  transform: rotate(0deg) translateY(0px);
  }
100% {
  transform: rotate(0deg) translateY(0px)
      translateX(0px);
  }

}
input[type="range"] {
  -webkit-appearance: none; 
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid  #ffca99 ;
  background: #ffca99;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1rem;
  background:  #ffca99;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
/*slider-thumb border color*/
  border: 1px solid hsl(335, 100%, 65%);
/*Colors*/
  box-shadow: -50rem 0 5rem 20rem hsl(6, 97%, 71%),
              -40rem 0 5rem 30rem hsl(25, 66%, 66%),
              -30rem 0 2rem 25rem hsl(23, 84%, 54%),
              -25.5rem 0 0 25rem  hsl(12, 89%, 51%);
}

@keyframes strikeitem {
	to { width:calc(100% + 1rem); }
}

#todolist {
	margin:4rem auto;
	padding:2rem 3rem 3rem;
	max-width:800px;
	background:#f5713d72;
	color:#FFF;
	box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);
}
#todolist h1 {
    /*text-align:center;*/
    font-weight:normal;
    font-size:2.6rem;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(255,255,255,.3); 
}
#todolist h1 span {
	display:block;
	font-size:0.8rem;
	margin-bottom:0.7rem;
	margin-left:3px;
	margin-top:0.2rem;   
}

#todolist .emptylist {
	margin-top:2.6rem;
	text-align:center;
	letter-spacing:.05em;
	font-style:italic;
	opacity:0.8;
	
}
#todolist ul {
	margin-top:2.6rem;
	list-style:none;
}
#todolist .todolist-move {
	transition: transform 1s;
}
#todolist li {
	display:flex;
	margin:0 -3rem 4px;
	padding:1.1rem 3rem;
  font-size:2rem;
	justify-content:space-between;
	align-items:center;
	background:rgba(255,255,255,0.1);
}

#todolist .actions {
	flex-shrink:0;
	padding-left:0.7em;
}
#todolist .label {
	position:relative;
	transition:opacity .2s linear;
}
#todolist .done .label {
	opacity:.6;
}
#todolist .done .label:before {
	content:'';
	position:absolute;
	top:50%;
	left:-.5rem;
	display:block;
	width:0%;
	height:1px;
	background:#FFF;
	animation:strikeitem .3s ease-out 0s forwards;
}
#todolist .btn-picto {
	border:none;
	background:none;
	-webkit-appearance:none;
	cursor:pointer;
	color:#FFF;
}


/* FORM */
form {
	margin-top:3rem;
	display:flex;
	flex-wrap:wrap;
}
form label {
	min-width:100%;
	margin-bottom:.5rem;
	font-size:1.3rem;
}
form input {
	flex-grow:1;
	border:none;
	background:#f7f1f1;
	padding:0 1.5em;
	font-size:initial;
}
form button {
	padding:0 1.3rem;
	border:none;
	background:#f5713d72;
	color:white;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid rgba(255,255,255,.3);
	margin-left:5px;
	cursor:pointer;
	transition:background .2s ease-out;
}
form button:hover {
	background:#f5713d;
}
form input, 
form button {
	font-family:'Josefin Slab', sans-serif;
	height:3rem;
}


/* TOOGLE COMPONENT */
.togglebutton-wrapper {
	margin-top:1em;
}
.togglebutton-wrapper label {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.togglebutton-wrapper input {
	position:absolute;
    left:-9999px;
}
.togglebutton-wrapper .togglebutton-label {
	font-size:.8rem;
	letter-spacing:.1em
}
.togglebutton-wrapper .tooglebutton-box {
	position:relative;
	display:block;
	margin-left:0.6em;
	width:38px;
	height:22px;
	background:white;
	/*border:1px solid black;*/
	border-radius:999px;
	cursor:pointer;
}
.togglebutton-wrapper .tooglebutton-box:before {
	content:'';
	position:absolute;
	top:2px; left:2px;
	display:block;
	width:18px; height:18px;
	/*border:1px solid #FF6666;*/
	border-radius:50%;
	background:#f5713d72;
	opacity:0.7;
	transition:	all .2s ease-in-out;
}
.togglebutton-wrapper.togglebutton-focus .tooglebutton-box {
	box-shadow:0px 0px 0px 3px rgba(0,0,0,0.1);
}
.togglebutton-wrapper.togglebutton-checked .tooglebutton-box:before {
	left:calc(100% - 4px - 16px);
	opacity:1;
}
